/* Centering the container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height for vertical centering */
  flex-direction: column; /* Stack the items vertically */
}

/* Centering the inner content */
.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-content p {
  margin: 10px 0;
}

.height-alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute; /* Position relative to its parent container */
  top: 50%; /* Move to the vertical center of its parent */
  left: 50%; /* Move to the horizontal center of its parent */
  transform: translate(
    -50%,
    -50%
  ); /* Offset by 50% of its own height and width to center it */
}
