.card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: auto;
    height: auto;
}
  
.balls-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
  
.ball {
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.odd {
    border: 2px solid #000;
}
  
.even {
    border: 2px solid #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 800px;
}
  
.center-content {
    text-align: center;
}
  
.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  