.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Centering the inner content */
.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-content p {
  margin: 10px 0;
}

.height-alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
